DATABASE_URL="mysql://USER:PASSWORD@HOST:4000/DATABASE?sslaccept=strict"
AUTH_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
NEXT_PUBLIC_APP_NAME="Ein"
NEXT_PUBLIC_APP_AR_NAME="عين"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_PROVIDER="placeholder"
COOKIE_SECURE="false"
